{% extends 'main/base.html' %}
{% block content %}
{% load static %}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>MY Tasks </h3>
                <p class="text-subtitle text-muted"></p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Task-Table</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-center">
                    <div class="col-6"> 
                        <label for="">Status</label>
                        <select 
                        name="status"
                        class="form-select form-select-sm" 
                        hx-get="{% url 'employee:employee-filterd' %}"
                        hx-trigger="change"
                        hx-target=".table"    
                        hx-swap = "outerHTML"
                        >
                            <option value="all_status">All</option>
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </div>    
                    <div class="col-6">
                        <label for="">Priority</label>
                        <select 
                        name="priority"
                        class="form-select form-select-sm" 
                        hx-get="{% url 'employee:employee-filterd' %}"
                        hx-trigger="change"
                        hx-target=".table"    
                        hx-swap = "outerHTML"
                        >
                            <option value="all_priority">All</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                </div>
              
            </div>

            <div class="card-body">
                {% include 'employee/partials/tasks.html' %}
            </div>
    </div>
    
    </section>
    <!-- Basic Tables end -->
</div>
{% endblock %}